<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="google-site-verification" content="QhZQ1dYIHTi7R8QHvyQ48Z3QO29nXdKlSlK_ZiQycus" />
    <meta name="description" content="Dev Summary : Summarize GitHub profiles easily. Get a brief overview of a developer's repositories, skills, and README content with our GitHub profile summary tool Dev Summary.">
    <meta name="keywords" content="Git Hub, github, summary, summarizer, git, profile, prodev717, devsummary, Dev Summary, github profile summarizer">
    <meta name="author" content="Ganesh M" />
    <link rel="icon" href="{{url_for('static',filename='logo.png')}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dev Summary</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
  </head>
  <body class="bg-[#1C1C1C] min-h-screen">
    <header class="bg-green-500 p-5 md:p-7">
      <p class="font-bold text-2xl md:text-4xl pb-5">Dev Summary</p>
      <p class="text-base md:text-xl">This website is a tool to analyze a GitHub user's profile and generate a summary of their skills, experience, and development focus based on their projects. It provides insights into the developer's strengths and the nature of their contributions.</p>
      <p class="text-base md:text-xl pt-2">{{url}}&lt;username&gt; - Provides the user's profile summary as JSON.</p>
    </header>
    <main>
      <div class="flex justify-center align-center">
        <div class="border border-green-500 m-5 p-5 rounded-full ">
          <form hx-post="/fetch" 
                hx-target="#disp" 
                hx-swap="innerHTML" 
                hx-on:htmx:after-request="this.reset();document.getElementById('loading').style.display='none';"
                hx-on:htmx:before-request="document.getElementById('disp').innerHTML=''; document.getElementById('loading').style.display='block';">
            <input class="bg-transparent outline-none text-white" autocomplete="off" type="text" name="username" placeholder="Enter GitHub Username" required>
            <button class="max-sm:hidden bg-green-500 rounded-full p-3" type="submit">summarize</button>
          </form>
        </div>
      </div>
      <div class="flex justify-center align-center">
        <div id="loading" style="display: none;" class="absolute w-52 h-52 border-8 border-transparent border-t-green-500 rounded-full animate-spin neon-icon"></div>
        <div class="m-10" id="disp">
          {% if summary %}
            {{ summary | safe }}
          {% endif %}
        </div>
      </div>
    </main>
    <footer class="sticky top-[100vh] text-white text-center py-5">
      <p>Created by <a class="text-blue-500" href="https://github.com/prodev717">Ganesh M</a> | Powered by <strong>GitHub API</strong> and <strong>Gemini AI</strong></p>
    </footer>
  </body>
</html>
